annotated-types==0.7.0
colorama==0.4.6
coverage==7.13.2
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
pydantic==2.12.5
pydantic_core==2.41.5
pytest==7.4.4
pytest-cov==7.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
